header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        background-color: white;
    }
    .social-icon {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 15%;
        gap: 2%;
        align-content: center;
        justify-content: center;
    }
    .social-icon li {
        color:black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
    
    }
    header a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a span{
        color: green;
    }