*{
    margin: 0%;
    padding: 0%;
}
header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px ;
        background-color: white;
        justify-items: center;
    }
    .social-icon {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 25%;
     
        gap: 5%;
        align-content: center;
        justify-content: center;
    }
    .social-icon  a li  {
        color:black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: whitesmoke;
        margin-right: -10px;


    }
    header a{
        color: black;
        text-decoration: none;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        margin-left: 10px;
    }
    a span{
        color: green;
    }
    li input{
        padding: 10px 25px;
        background-color: whitesmoke;
        outline: none;
        border: none;
        border-radius: 25px;
        height: 50px;
        font-size: large; 
    
    }
    .search{
        display: flex;
        align-items: center;
        list-style: none;
    }
.search  a i{
    color:black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color:green;
        margin-left: -40px;
}
.social-icon  a li:hover{
     background-color: green;
}
nav{
    display: flex;
    background-color: green;
    padding: 20px ;
    justify-content: space-between;
    list-style: none;
}
.first{
    list-style: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
      width: 100%;
margin-left: 300px;
margin-right: 300px;
}
.first a li {
    color: aliceblue;
    font-size: larger;
    justify-content: center;
}
.first a li:hover{
    color: yellow;
    text-decoration: underline;
    text-underline-offset: 23px;
    line-break: 2px;
}
.first a{
    text-decoration: none;
}
.second{
    display:grid;
}
 button{
    background-color: chartreuse;
    margin-left: 170px;
    margin-top: 15px;
    cursor: pointer;
    height: 40px;
    width: 150;

}
.second h4{
    margin-left: 50px;
    padding: 120px;
    font-size: large;
    color:chartreuse;
    font-weight: bold;
}
.second h1{
color:white;
margin-top: -100px;
padding-left: 170px;
}
.second h3{
    margin-top: -10px;
    margin-left: 170px;
    color: chartreuse;
    margin-top: 10px;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
background-image: url(./download\ \(2\).jpeg);}